In [3]:
import pandas as pd
import numpy as np
import os
from datatile.summary.df import DataFrameSummary
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [4]:
print(os.path.abspath(os.curdir))
path = os.path.abspath(os.curdir)

/Users/nicolastobon/Desktop/Interviews/Expedia/Git

In [5]:
df = pd.read_excel(path + '/Datasets/Dataset- (Data Science- Analytics).xlsx')
df.head()

,Week,Mobile Indicator Name,Platform Type Name,Super Region,Country Name,Booking Window Group,Property Country,Net Gross Booking Value USD,Net Orders
0,2016-W45,Desktop,Desktop,APAC,South Korea,8-14 days,Algeria,-608.4244,-3
1,2016-W45,Desktop,Desktop,APAC,South Korea,+90 days,Andorra,-512.1796,-2
2,2016-W45,Desktop,Desktop,APAC,South Korea,46-60 days,Andorra,103.4298,1
3,2016-W45,Desktop,Desktop,APAC,Australia,31-45 days,Argentina,395.9592,1
4,2016-W45,Desktop,Desktop,APAC,Australia,15-30 days,Argentina,373.4194,1

In [6]:
## This is our dfSummary table

## dfSummary uses the DataTile package to publish statistical measures for our pre-processed dfTable

dfSummary = DataFrameSummary(df)
dfSummary.summary()

,Week,Mobile Indicator Name,Platform Type Name,Super Region,Country Name,Booking Window Group,Property Country,Net Gross Booking Value USD,Net Orders
count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73688.0,73688.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12743.628895,47.954606
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,207229.449029,991.1289
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-96896.925,-50.0
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,215.87945,1.0
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,857.56065,2.0
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3198.414175,8.0
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11661490.2492,63230.0
counts,73688,73688,73688,53423,73688,73688,73688,73688,73688
uniques,8,2,3,3,7,10,206,71587,855
missing,0,0,0,20265,0,0,0,0,0
missing_perc,0%,0%,0%,27.50%,0%,0%,0%,0%,0%
types,categorical,bool,categorical,categorical,categorical,categorical,categorical,numeric,numeric

In [7]:
## We observe there are many values missing in the super-region column

NaN_df = df[df.isna().any(axis = 1)] 
NaN_df

,Week,Mobile Indicator Name,Platform Type Name,Super Region,Country Name,Booking Window Group,Property Country,Net Gross Booking Value USD,Net Orders
3082,2016-W45,Desktop,Desktop,NaN,US,0-1 days,Albania,519.3300,2
3083,2016-W45,Desktop,Desktop,NaN,US,4-7 days,Albania,174.4600,1
3084,2016-W45,Desktop,Desktop,NaN,US,2-3 days,Albania,269.4946,1
3085,2016-W45,Desktop,Desktop,NaN,US,31-45 days,Algeria,466.9200,1
3086,2016-W45,Desktop,Desktop,NaN,US,8-14 days,American Samoa,139.0000,1
...,...,...,...,...,...,...,...,...,...
73683,2017-W48,Mobile,Mobile Web,NaN,US,15-30 days,Vietnam,748.2964,6
73684,2017-W48,Mobile,Mobile Web,NaN,US,31-45 days,Vietnam,2379.9672,7
73685,2017-W48,Mobile,Mobile Web,NaN,US,46-60 days,Vietnam,66.7100,1
73686,2017-W48,Mobile,Mobile Web,NaN,US,8-14 days,Vietnam,591.3000,2
73687,2017-W48,Mobile,Mobile Web,NaN,US,+90 days,Vietnam,-69.6500,1

In [8]:
## We take the summary of the rows with NaN values in Super Region and observe our country name has 1 unique value.

NaN_dfs = DataFrameSummary(NaN_df)
NaN_dfs.summary()

,Week,Mobile Indicator Name,Platform Type Name,Super Region,Country Name,Booking Window Group,Property Country,Net Gross Booking Value USD,Net Orders
count,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20265.0,20265.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32176.44133,131.181841
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,390974.630718,1879.78479
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-96896.925,-50.0
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,277.09,1.0
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1175.6233,3.0
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4346.2931,11.0
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11661490.2492,63230.0
counts,20265,20265,20265,0,20265,20265,20265,20265,20265
uniques,8,2,3,0,1,10,200,19558,540
missing,0,0,0,20265,0,0,0,0,0
missing_perc,0%,0%,0%,100%,0%,0%,0%,0%,0%
types,categorical,bool,categorical,unique,constant,categorical,categorical,numeric,numeric

In [9]:
## Let's see the distribution of Super-Region NaN values by Property Country

NaN_Vals = NaN_df.groupby('Property Country')['Net Orders', 'Net Gross Booking Value USD'].sum()
NaN_Vals

/Users/nicolastobon/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

                  Net Orders  Net Gross Booking Value USD
Property Country
Albania                   28                    3989.3384
Algeria                   25                   20173.3085
American Samoa            15                    7211.7800
Andorra                   20                    3370.1336
Angola                     1                   -3584.0000
...                      ...                          ...
Vanuatu                   14                    6048.1600
Venezuela                 68                   21734.4658
Vietnam                 3386                  716688.6312
Zambia                   102                   63457.7552
Zimbabwe                  95                   51657.7200

[200 rows x 2 columns]

In [10]:
## Let's calculate the booking value per order of the records with NaN in Super Region

NaN_Vals['Booking value per order'] = NaN_Vals['Net Gross Booking Value USD']/NaN_Vals['Net Orders']
NaN_Vals.sort_values(by = 'Net Gross Booking Value USD', ascending=False)

,Net Orders,Net Gross Booking Value USD,Booking value per order
Property Country,,,
United States of America,2378567,5.436046e+08,228.542912
Mexico,23474,1.058946e+07,451.114320
United Kingdom,18008,9.417004e+06,522.934446
Canada,30358,8.977618e+06,295.724940
Italy,12190,5.036965e+06,413.204637
...,...,...,...
State of Palestine,-1,-1.300000e+02,130.000000
Burkina Faso,1,-1.018770e+03,-1018.770000
Uzbekistan,0,-1.550660e+03,-inf
Papua New Guinea,-1,-2.138410e+03,2138.410000
Angola,1,-3.584000e+03,-3584.000000

In [11]:
## After analyzing this data on excel, we realize that NA was interpeted by pandas as NaN.
## Let's go ahead and change the Super Region from NA to NaN 

df['Super Region'] = df['Super Region'].fillna('NAM')
df.head()

,Week,Mobile Indicator Name,Platform Type Name,Super Region,Country Name,Booking Window Group,Property Country,Net Gross Booking Value USD,Net Orders
0,2016-W45,Desktop,Desktop,APAC,South Korea,8-14 days,Algeria,-608.4244,-3
1,2016-W45,Desktop,Desktop,APAC,South Korea,+90 days,Andorra,-512.1796,-2
2,2016-W45,Desktop,Desktop,APAC,South Korea,46-60 days,Andorra,103.4298,1
3,2016-W45,Desktop,Desktop,APAC,Australia,31-45 days,Argentina,395.9592,1
4,2016-W45,Desktop,Desktop,APAC,Australia,15-30 days,Argentina,373.4194,1

In [12]:
## We were having trouble with our groupby function, let's go ahead and clean some more rows that can't be 
## addressed by our calculations

indexes_to_drop = df[(df['Net Gross Booking Value USD'] <= 0) | (df['Net Orders'] <= 0)].index
df = df.drop(index = indexes_to_drop, axis = 0)
df.head()

,Week,Mobile Indicator Name,Platform Type Name,Super Region,Country Name,Booking Window Group,Property Country,Net Gross Booking Value USD,Net Orders
2,2016-W45,Desktop,Desktop,APAC,South Korea,46-60 days,Andorra,103.4298,1
3,2016-W45,Desktop,Desktop,APAC,Australia,31-45 days,Argentina,395.9592,1
4,2016-W45,Desktop,Desktop,APAC,Australia,15-30 days,Argentina,373.4194,1
5,2016-W45,Desktop,Desktop,APAC,Australia,8-14 days,Argentina,201.4979,1
7,2016-W45,Desktop,Desktop,APAC,Australia,4-7 days,Argentina,105.3972,1

In [13]:
## Let's normalize our Net Gross Booking Value so we can easily plot the colors in Tableau

book_value_scale = preprocessing.MinMaxScaler(feature_range= (0, 1))
book_vals = [[item] for item in df['Net Gross Booking Value USD'].values]
df['Net Gross Booking Value USD Scaled'] = book_value_scale.fit_transform(book_vals)
df.head()

,Week,Mobile Indicator Name,Platform Type Name,Super Region,Country Name,Booking Window Group,Property Country,Net Gross Booking Value USD,Net Orders,Net Gross Booking Value USD Scaled
2,2016-W45,Desktop,Desktop,APAC,South Korea,46-60 days,Andorra,103.4298,1,0.000009
3,2016-W45,Desktop,Desktop,APAC,Australia,31-45 days,Argentina,395.9592,1,0.000034
4,2016-W45,Desktop,Desktop,APAC,Australia,15-30 days,Argentina,373.4194,1,0.000032
5,2016-W45,Desktop,Desktop,APAC,Australia,8-14 days,Argentina,201.4979,1,0.000017
7,2016-W45,Desktop,Desktop,APAC,Australia,4-7 days,Argentina,105.3972,1,0.000009

In [14]:
## Let's add a Booking Value per order

df['Booking value per order'] = df['Net Gross Booking Value USD']/df['Net Orders']
df.sort_values(by = 'Net Gross Booking Value USD', ascending=False)
df.head()

,Week,Mobile Indicator Name,Platform Type Name,Super Region,Country Name,Booking Window Group,Property Country,Net Gross Booking Value USD,Net Orders,Net Gross Booking Value USD Scaled,Booking value per order
2,2016-W45,Desktop,Desktop,APAC,South Korea,46-60 days,Andorra,103.4298,1,0.000009,103.4298
3,2016-W45,Desktop,Desktop,APAC,Australia,31-45 days,Argentina,395.9592,1,0.000034,395.9592
4,2016-W45,Desktop,Desktop,APAC,Australia,15-30 days,Argentina,373.4194,1,0.000032,373.4194
5,2016-W45,Desktop,Desktop,APAC,Australia,8-14 days,Argentina,201.4979,1,0.000017,201.4979
7,2016-W45,Desktop,Desktop,APAC,Australia,4-7 days,Argentina,105.3972,1,0.000009,105.3972

In [15]:
## We observe the week with the most net bookings independent of negative net orders means to the dataset, 
## was 2017-W45.

## This will be our dfWeek Table
## dfWeek contains sum of Net Gross Booking Value USD over each week.

dfWeek = df.groupby('Week')['Net Gross Booking Value USD'].sum()
dfWeek.sort_values(ascending = False)

Week
2017-W45    1.382396e+08
2017-W46    1.360574e+08
2016-W45    1.281286e+08
2017-W47    1.237643e+08
2016-W46    1.150432e+08
2017-W48    1.120791e+08
2016-W47    1.000521e+08
2016-W48    9.145556e+07
Name: Net Gross Booking Value USD, dtype: float64

In [16]:
## In order to analyze our dataset more clearly by region and mobile indicator name, let's group by these two 
## columns, while summing over our Net Orders and Net Gross Booking Value USD, and take the mean of our Net Gross

## This will be our dfRegion Table
## dfRegion conatins sum of Net Orders, Sum of Net Gross Booking Value USD, and the mean of Booking value per order 
## across Mobile Indicator Names (Desktop/Mobile), and Super Regions

aggregators = {'Net Orders':'sum','Net Gross Booking Value USD': 'sum', 'Booking value per order' : 'mean'}
dfRegion = df.groupby(['Super Region','Mobile Indicator Name'], dropna=False).agg(aggregators)
dfRegion.head()

                                    Net Orders  Net Gross Booking Value USD  \
Super Region Mobile Indicator Name
APAC         Desktop                    208070                 6.985793e+07
             Mobile                     126605                 4.626972e+07
EMEA         Desktop                    315150                 1.054008e+08
             Mobile                     133799                 3.540637e+07
LATAM        Desktop                     71401                 2.678406e+07
             Mobile                      21436                 6.496246e+06
NAM          Desktop                   1682440                 4.706402e+08
             Mobile                     975369                 1.839644e+08

                                    Booking value per order
Super Region Mobile Indicator Name
APAC         Desktop                             412.233043
             Mobile                              401.354515
EMEA         Desktop                             510.487369
             Mobile                              411.451594
LATAM        Desktop                             562.963348
             Mobile                              499.319668
NAM          Desktop                             549.274886
             Mobile                              441.493649

In [17]:
## Here we observe that the highest value customer segment for Expedia are those bookings done 90+ days in advance. 
## This is a good indication that our experiment in PCA could be functional.

## This will be our dfBookingGroup Table
## dfBookingGroup contains sum of Net Orders, Sum of Net Gross Booking Value USD, and the mean of Booking value per order 
## across Booking Window Groups

dfBookingGroup = df.groupby(['Booking Window Group']).agg(aggregators)
dfBookingGroup.sort_values(by = 'Booking value per order', ascending = False)
dfBookingGroup.head()

,Net Orders,Net Gross Booking Value USD,Booking value per order
Booking Window Group,,,
+90 days,146611,8.679615e+07,760.304690
61-90 days,85195,4.157108e+07,601.297893
46-60 days,115284,5.328824e+07,589.963567
31-45 days,237072,9.278052e+07,539.773842
15-30 days,461945,1.456523e+08,465.294999
8-14 days,400711,1.133545e+08,396.963693
4-7 days,461822,1.204369e+08,372.698359
2-3 days,401629,9.234769e+07,323.522497
0-1 days,1221387,1.983014e+08,227.092374
Post Book,2614,2.909914e+05,118.991126

In [20]:
## Let's set up our dataframe to be able to calculate growth rates for each country week-over-week

## This will be our df_country_growth_rate
## df_country_growth will group countries, sum of Net Orders, sum of Net Gross Booking Value USD, and mean of Booking
## value per order across weeks. This will be helpful when calculating our week-over-week growth rates

df_country_growth = df.groupby(['Week', 'Property Country']).agg(aggregators)
df_country_growth.head()

                           Net Orders  Net Gross Booking Value USD  \
Week     Property Country
2016-W45 Albania                    5                    1137.6524
         Algeria                    6                    6168.5482
         American Samoa             1                     139.0000
         Andorra                    6                     567.9589
         Angola                     5                   11909.7834
...                               ...                          ...
2017-W48 Vanuatu                    9                    7036.8122
         Venezuela                 17                    4033.6707
         Vietnam                 2015                  447006.2468
         Zambia                    15                   15967.4400
         Zimbabwe                  34                    8546.1587

                           Booking value per order
Week     Property Country
2016-W45 Albania                        219.496850
         Algeria                        869.735120
         American Samoa                 139.000000
         Andorra                         94.659817
         Angola                        1974.419311
...                                            ...
2017-W48 Vanuatu                        792.366413
         Venezuela                      232.958846
         Vietnam                        253.759872
         Zambia                        1156.241233
         Zimbabwe                       262.873135

[1488 rows x 3 columns]

In [21]:
## Here we groupby each country to calculate pct_change across our metrics

df_country_growth['Net Order Percent Change'] = df_country_growth.groupby(['Property Country'])['Net Orders'].pct_change()
df_country_growth['Net Gross Booking Value USD Percent Change'] = df_country_growth.groupby(['Property Country'])['Net Gross Booking Value USD'].pct_change()
df_country_growth['Booking value per order Percent Change'] = df_country_growth.groupby(['Property Country'])['Booking value per order'].pct_change()
df_country_growth

                           Net Orders  Net Gross Booking Value USD  \
Week     Property Country
2016-W45 Albania                    5                    1137.6524
         Algeria                    6                    6168.5482
         American Samoa             1                     139.0000
         Andorra                    6                     567.9589
         Angola                     5                   11909.7834
...                               ...                          ...
2017-W48 Vanuatu                    9                    7036.8122
         Venezuela                 17                    4033.6707
         Vietnam                 2015                  447006.2468
         Zambia                    15                   15967.4400
         Zimbabwe                  34                    8546.1587

                           Booking value per order  Net Order Percent Change  \
Week     Property Country
2016-W45 Albania                        219.496850                       NaN
         Algeria                        869.735120                       NaN
         American Samoa                 139.000000                       NaN
         Andorra                         94.659817                       NaN
         Angola                        1974.419311                       NaN
...                                            ...                       ...
2017-W48 Vanuatu                        792.366413                 -0.357143
         Venezuela                      232.958846                  0.888889
         Vietnam                        253.759872                 -0.068854
         Zambia                        1156.241233                 -0.482759
         Zimbabwe                       262.873135                  0.360000

                           Net Gross Booking Value USD Percent Change  \
Week     Property Country
2016-W45 Albania                                                  NaN
         Algeria                                                  NaN
         American Samoa                                           NaN
         Andorra                                                  NaN
         Angola                                                   NaN
...                                                               ...
2017-W48 Vanuatu                                             0.533505
         Venezuela                                           0.926738
         Vietnam                                            -0.040575
         Zambia                                              0.066979
         Zimbabwe                                            0.032344

                           Booking value per order Percent Change
Week     Property Country
2016-W45 Albania                                              NaN
         Algeria                                              NaN
         American Samoa                                       NaN
         Andorra                                              NaN
         Angola                                               NaN
...                                                           ...
2017-W48 Vanuatu                                         1.406772
         Venezuela                                       0.139869
         Vietnam                                         0.215694
         Zambia                                          1.357396
         Zimbabwe                                       -0.117209

[1488 rows x 6 columns]

In [22]:
## Let's check our calculations

df_country_growth.loc[slice(None), 'Pakistan', :]

,,Net Orders,Net Gross Booking Value USD,Booking value per order,Net Order Percent Change,Net Gross Booking Value USD Percent Change,Booking value per order Percent Change
Week,Property Country,,,,,,
2016-W45,Pakistan,4,3720.2500,930.062500,NaN,NaN,NaN
2016-W46,Pakistan,2,2285.5052,1142.752600,-0.500000,-0.385658,0.228684
2016-W47,Pakistan,6,4855.3898,830.160130,2.000000,1.124427,-0.273543
2016-W48,Pakistan,1,839.2000,839.200000,-0.833333,-0.827161,0.010889
2017-W45,Pakistan,11,10666.0388,833.399377,10.000000,11.709770,-0.006912
2017-W46,Pakistan,10,2820.2524,302.049600,-0.090909,-0.735586,-0.637569
2017-W47,Pakistan,5,5374.1261,1074.825220,-0.500000,0.905548,2.558439
2017-W48,Pakistan,9,6399.8937,587.769686,0.800000,0.190872,-0.453149

In [47]:

## Let's print out the period and country with the most highest percent growth of Net Orders
highest_net_order_change = df_country_growth.loc[df_country_growth['Net Order Percent Change'].idxmax()]
print(highest_net_order_change.name)
print(highest_net_order_change)

## Let's print out the period and country with the most highest percent growth of Net Gross Booking Value USD
highest_gross_booking_val_change = df_country_growth.loc[df_country_growth['Net Gross Booking Value USD Percent Change'].idxmax()]
print(highest_gross_booking_val_change.name)
print(highest_gross_booking_val_change)

## Let's print out the period and country with the most highest percent growth of Booking Value per order
highest_gross_booking_value_per_order = df_country_growth.loc[df_country_growth['Booking value per order Percent Change'].idxmax()]
print(highest_gross_booking_value_per_order.name)
print(highest_gross_booking_value_per_order)

('2017-W45', 'Pakistan')
Net Orders                                       11.000000
Net Gross Booking Value USD                   10666.038800
Booking value per order                         833.399377
Net Order Percent Change                         10.000000
Net Gross Booking Value USD Percent Change       11.709770
Booking value per order Percent Change           -0.006912
Name: (2017-W45, Pakistan), dtype: float64
('2017-W45', 'Reunion')
Net Orders                                       6.000000
Net Gross Booking Value USD                   4307.219900
Booking value per order                        717.869983
Net Order Percent Change                         5.000000
Net Gross Booking Value USD Percent Change      31.035849
Booking value per order Percent Change           4.339308
Name: (2017-W45, Reunion), dtype: float64
('2017-W46', 'Burkina Faso')
Net Orders                                       1.000000
Net Gross Booking Value USD                   7943.438100
Booking value per order                       7943.438100
Net Order Percent Change                        -0.500000
Net Gross Booking Value USD Percent Change       9.626212
Booking value per order Percent Change          20.252425
Name: (2017-W46, Burkina Faso), dtype: float64

In [29]:
## Let's parition our data into the first unique group across Property Country

df_country_growth_first = df_country_growth.reset_index().set_index('Week').set_index('Property Country')
df_country_growth_first = df_country_growth_first.groupby('Property Country').first()
df_country_growth_first

,Net Orders,Net Gross Booking Value USD,Booking value per order,Net Order Percent Change,Net Gross Booking Value USD Percent Change,Booking value per order Percent Change
Property Country,,,,,,
Albania,5,1137.6524,219.496850,-0.200000,-0.103346,0.161840
Algeria,6,6168.5482,869.735120,0.000000,-0.627558,-0.528139
American Samoa,1,139.0000,139.000000,1.000000,2.435180,0.717590
Andorra,6,567.9589,94.659817,0.666667,16.119334,10.811523
Angola,5,11909.7834,1974.419311,-0.400000,-0.758265,-0.513948
...,...,...,...,...,...,...
Vanuatu,10,4905.8482,370.810000,1.100000,2.349435,0.974783
Venezuela,18,9579.4761,489.697945,-0.277778,-0.423841,-0.037190
Vietnam,957,258689.5157,326.663698,0.158830,0.047363,-0.160483
Zambia,18,7292.7456,426.707268,0.000000,0.095187,-0.091773
Zimbabwe,21,9194.6750,473.146126,0.333333,0.743551,0.232912

In [30]:
## Let's parition our data into the first unique group across Property Country

df_country_growth_last = df_country_growth.reset_index().set_index('Week').set_index('Property Country')
df_country_growth_last = df_country_growth_last.groupby('Property Country').last()
df_country_growth_last

,Net Orders,Net Gross Booking Value USD,Booking value per order,Net Order Percent Change,Net Gross Booking Value USD Percent Change,Booking value per order Percent Change
Property Country,,,,,,
Albania,8,1647.2549,214.677471,0.600000,1.099387,0.348009
Algeria,4,1447.1905,361.797625,-0.714286,-0.825061,-0.379162
American Samoa,3,1495.9500,498.650000,2.000000,0.382323,-0.539226
Andorra,14,3854.3480,269.471096,-0.125000,-0.221511,-0.207744
Angola,2,2297.0000,1148.500000,-0.333333,-0.842176,-0.763263
...,...,...,...,...,...,...
Vanuatu,9,7036.8122,792.366413,-0.357143,0.533505,1.406772
Venezuela,17,4033.6707,232.958846,0.888889,0.926738,0.139869
Vietnam,2015,447006.2468,253.759872,-0.068854,-0.040575,0.215694
Zambia,15,15967.4400,1156.241233,-0.482759,0.066979,1.357396
Zimbabwe,34,8546.1587,262.873135,0.360000,0.032344,-0.117209

In [31]:
## Let's left join the first table with the right table, which allows us to make calulations for Total Growth 
## column-wise 

## df_country_growth_first_last contains the Total Growth rates for each country's Net Orders, Net Gross Booking
## Value USD, and Booking value per order. These calculations are done independent of the consistnecy of a 
## countries last booking period

df_country_growth_first_last = pd.merge(df_country_growth_first, df_country_growth_last, on = 'Property Country')
df_country_growth_first_last

,Net Orders_x,Net Gross Booking Value USD_x,Booking value per order_x,Net Order Percent Change_x,Net Gross Booking Value USD Percent Change_x,Booking value per order Percent Change_x,Net Orders_y,Net Gross Booking Value USD_y,Booking value per order_y,Net Order Percent Change_y,Net Gross Booking Value USD Percent Change_y,Booking value per order Percent Change_y
Property Country,,,,,,,,,,,,
Albania,5,1137.6524,219.496850,-0.200000,-0.103346,0.161840,8,1647.2549,214.677471,0.600000,1.099387,0.348009
Algeria,6,6168.5482,869.735120,0.000000,-0.627558,-0.528139,4,1447.1905,361.797625,-0.714286,-0.825061,-0.379162
American Samoa,1,139.0000,139.000000,1.000000,2.435180,0.717590,3,1495.9500,498.650000,2.000000,0.382323,-0.539226
Andorra,6,567.9589,94.659817,0.666667,16.119334,10.811523,14,3854.3480,269.471096,-0.125000,-0.221511,-0.207744
Angola,5,11909.7834,1974.419311,-0.400000,-0.758265,-0.513948,2,2297.0000,1148.500000,-0.333333,-0.842176,-0.763263
...,...,...,...,...,...,...,...,...,...,...,...,...
Vanuatu,10,4905.8482,370.810000,1.100000,2.349435,0.974783,9,7036.8122,792.366413,-0.357143,0.533505,1.406772
Venezuela,18,9579.4761,489.697945,-0.277778,-0.423841,-0.037190,17,4033.6707,232.958846,0.888889,0.926738,0.139869
Vietnam,957,258689.5157,326.663698,0.158830,0.047363,-0.160483,2015,447006.2468,253.759872,-0.068854,-0.040575,0.215694
Zambia,18,7292.7456,426.707268,0.000000,0.095187,-0.091773,15,15967.4400,1156.241233,-0.482759,0.066979,1.357396
Zimbabwe,21,9194.6750,473.146126,0.333333,0.743551,0.232912,34,8546.1587,262.873135,0.360000,0.032344,-0.117209

In [33]:
## Let's reassign relevant columns, and drop the unnecessary columns from df_country_growth_first_last 

df_country_growth_first_last['Net Order Percent Change'] = df_country_growth_first_last[['Net Orders_x', 'Net Orders_y']].pct_change(axis='columns')['Net Orders_y']
df_country_growth_first_last['Net Gross Booking Value USD Total Percent Change'] =  df_country_growth_first_last[['Net Gross Booking Value USD_x', 'Net Gross Booking Value USD_y']].pct_change(axis='columns')['Net Gross Booking Value USD_y']
df_country_growth_first_last['Booking Value per order Percent Change'] = df_country_growth_first_last[['Booking value per order_x', 'Booking value per order_y']].pct_change(axis='columns')['Booking value per order_y']
df_country_growth_first_last = df_country_growth_first_last.drop(df_country_growth_first_last.iloc[:, 0:12], axis = 1)

In [34]:
df_country_growth_first_last.head()

,Net Order Percent Change,Net Gross Booking Value USD Total Percent Change,Booking Value per order Percent Change
Property Country,,,
Albania,0.600000,0.447942,-0.021956
Algeria,-0.333333,-0.765392,-0.584014
American Samoa,2.000000,9.762230,2.587410
Andorra,1.333333,5.786315,1.846732
Angola,-0.600000,-0.807133,-0.418310

In [35]:
## Let's check our calculations

df_country_growth_first_last.loc['Albania']

Net Order Percent Change                            0.600000
Net Gross Booking Value USD Total Percent Change    0.447942
Booking Value per order Percent Change             -0.021956
Name: Albania, dtype: float64

In [36]:
## This was a failed attempt at establishing accurate Total Growth Rates using pct_change()(aggregate row-wise 
## operation)

##aggregators = {'Net Orders':'pct_change','Net Gross Booking Value USD': 'pct_change', 'Booking value per order' : 'pct_change'}
##aggregator = {'periods': '7', 'periods': '7', 'periods': '7'}

df_country_growth_first_last_unused = df_country_growth.reset_index().set_index('Week').set_index('Property Country')
df_country_growth_first_last_unused = df_country_growth_first_last_unused.groupby('Property Country').pct_change(periods = 7)
df_country_growth_first_last_unused.dropna(how = 'all')

,Net Orders,Net Gross Booking Value USD,Booking value per order,Net Order Percent Change,Net Gross Booking Value USD Percent Change,Booking value per order Percent Change
Property Country,,,,,,
Albania,0.600000,0.447942,-0.021956,NaN,NaN,NaN
Algeria,-0.333333,-0.765392,-0.584014,NaN,NaN,NaN
Andorra,1.333333,5.786315,1.846732,NaN,NaN,NaN
Angola,-0.600000,-0.807133,-0.418310,NaN,NaN,NaN
Anguilla,0.166667,0.924694,0.783093,NaN,NaN,NaN
...,...,...,...,...,...,...
Vanuatu,-0.100000,0.434372,1.136853,NaN,NaN,NaN
Venezuela,-0.055556,-0.578926,-0.524281,NaN,NaN,NaN
Vietnam,1.105538,0.727964,-0.223177,NaN,NaN,NaN
Zambia,-0.166667,1.189496,1.709683,NaN,NaN,NaN
Zimbabwe,0.619048,-0.070532,-0.444414,NaN,NaN,NaN

In [42]:
## This is our df_mobile_vs_desktop_country Table

## df_mobile_vs_desktop_country group's records by Week, Property Country, and Platform Type, aggregating the sum of
## Net Orders, sum of Net Gross Booking Value USD, and mean of Booking value per order.

df_mobile_vs_desktop_country = df.groupby(['Week', 'Property Country', 'Platform Type Name']).agg(aggregators)
df_mobile_vs_desktop_country

                                              Net Orders  \
Week     Property Country Platform Type Name
2016-W45 Albania          Desktop                      5
         Algeria          Desktop                      4
                          Mobile App                   2
         American Samoa   Desktop                      1
         Andorra          Desktop                      5
...                                                  ...
2017-W48 Zambia           Desktop                     14
                          Mobile App                   1
         Zimbabwe         Desktop                     23
                          Mobile App                   4
                          Mobile Web                   7

                                              Net Gross Booking Value USD  \
Week     Property Country Platform Type Name
2016-W45 Albania          Desktop                               1137.6524
         Algeria          Desktop                               2528.8030
                          Mobile App                            3639.7452
         American Samoa   Desktop                                139.0000
         Andorra          Desktop                                490.9202
...                                                                   ...
2017-W48 Zambia           Desktop                              15909.8400
                          Mobile App                              57.6000
         Zimbabwe         Desktop                               6516.7088
                          Mobile App                             649.7830
                          Mobile Web                            1379.6669

                                              Booking value per order
Week     Property Country Platform Type Name
2016-W45 Albania          Desktop                          219.496850
         Algeria          Desktop                          632.200750
                          Mobile App                      1819.872600
         American Samoa   Desktop                          139.000000
         Andorra          Desktop                           98.184040
...                                                               ...
2017-W48 Zambia           Desktop                         1293.571388
                          Mobile App                        57.600000
         Zimbabwe         Desktop                          291.329788
                          Mobile App                       196.927667
                          Mobile Web                       177.049793

[3820 rows x 3 columns]

In [43]:
df_mobile_vs_desktop_country['Net Order Percent Change by Platform'] = df_mobile_vs_desktop_country.groupby(['Property Country', 'Platform Type Name'])['Net Orders'].pct_change()
df_mobile_vs_desktop_country['Net Gross Booking Value USD Percent Change by Platform'] = df_mobile_vs_desktop_country.groupby(['Property Country', 'Platform Type Name'])['Net Gross Booking Value USD'].pct_change()
df_mobile_vs_desktop_country['Booking value per order Percent Change by Platform'] = df_mobile_vs_desktop_country.groupby(['Property Country', 'Platform Type Name'])['Booking value per order'].pct_change()
df_mobile_vs_desktop_country

                                              Net Orders  \
Week     Property Country Platform Type Name
2016-W45 Albania          Desktop                      5
         Algeria          Desktop                      4
                          Mobile App                   2
         American Samoa   Desktop                      1
         Andorra          Desktop                      5
...                                                  ...
2017-W48 Zambia           Desktop                     14
                          Mobile App                   1
         Zimbabwe         Desktop                     23
                          Mobile App                   4
                          Mobile Web                   7

                                              Net Gross Booking Value USD  \
Week     Property Country Platform Type Name
2016-W45 Albania          Desktop                               1137.6524
         Algeria          Desktop                               2528.8030
                          Mobile App                            3639.7452
         American Samoa   Desktop                                139.0000
         Andorra          Desktop                                490.9202
...                                                                   ...
2017-W48 Zambia           Desktop                              15909.8400
                          Mobile App                              57.6000
         Zimbabwe         Desktop                               6516.7088
                          Mobile App                             649.7830
                          Mobile Web                            1379.6669

                                              Booking value per order  \
Week     Property Country Platform Type Name
2016-W45 Albania          Desktop                          219.496850
         Algeria          Desktop                          632.200750
                          Mobile App                      1819.872600
         American Samoa   Desktop                          139.000000
         Andorra          Desktop                           98.184040
...                                                               ...
2017-W48 Zambia           Desktop                         1293.571388
                          Mobile App                        57.600000
         Zimbabwe         Desktop                          291.329788
                          Mobile App                       196.927667
                          Mobile Web                       177.049793

                                              Net Order Percent Change by Platform  \
Week     Property Country Platform Type Name
2016-W45 Albania          Desktop                                              NaN
         Algeria          Desktop                                              NaN
                          Mobile App                                           NaN
         American Samoa   Desktop                                              NaN
         Andorra          Desktop                                              NaN
...                                                                            ...
2017-W48 Zambia           Desktop                                        -0.363636
                          Mobile App                                     -0.666667
         Zimbabwe         Desktop                                         0.095238
                          Mobile App                                      1.000000
                          Mobile Web                                      2.500000

                                              Net Gross Booking Value USD Percent Change by Platform  \
Week     Property Country Platform Type Name
2016-W45 Albania          Desktop                                                           NaN
         Algeria          Desktop                                                           NaN
                          Mobile App                                                        NaN
         American Samoa   Desktop                                                           NaN
         Andorra          Desktop                                                           NaN
...                                                                                         ...
2017-W48 Zambia           Desktop                                                      0.327382
                          Mobile App                                                  -0.909694
         Zimbabwe         Desktop                                                     -0.155258
                          Mobile App                                                   2.890991
                          Mobile Web                                                   2.475513

                                              Booking value per order Percent Change by Platform
Week     Property Country Platform Type Name
2016-W45 Albania          Desktop                                                           NaN
         Algeria          Desktop                                                           NaN
                          Mobile App                                                        NaN
         American Samoa   Desktop                                                           NaN
         Andorra          Desktop                                                           NaN
...                                                                                         ...
2017-W48 Zambia           Desktop                                                      1.395263
                          Mobile App                                                  -0.709846
         Zimbabwe         Desktop                                                     -0.158046
                          Mobile App                                                   1.358460
                          Mobile Web                                                  -0.107989

[3820 rows x 6 columns]

In [44]:
## Let's check our calculations

df_mobile_vs_desktop_country.loc[slice(None), 'Albania', :]

                                              Net Orders  \
Week     Property Country Platform Type Name
2016-W45 Albania          Desktop                      5
2016-W46 Albania          Desktop                      3
                          Mobile Web                   1
2016-W47 Albania          Desktop                      6
                          Mobile App                   3
2016-W48 Albania          Desktop                      1
                          Mobile App                   4
2017-W45 Albania          Desktop                      6
                          Mobile App                   2
                          Mobile Web                   1
2017-W46 Albania          Desktop                      4
                          Mobile App                   1
                          Mobile Web                   3
2017-W47 Albania          Desktop                      3
                          Mobile App                   2
2017-W48 Albania          Desktop                      4
                          Mobile App                   4

                                              Net Gross Booking Value USD  \
Week     Property Country Platform Type Name
2016-W45 Albania          Desktop                               1137.6524
2016-W46 Albania          Desktop                                888.3706
                          Mobile Web                             131.7100
2016-W47 Albania          Desktop                               1141.0359
                          Mobile App                             342.6469
2016-W48 Albania          Desktop                                258.8469
                          Mobile App                             825.6971
2017-W45 Albania          Desktop                                956.9301
                          Mobile App                             174.2200
                          Mobile Web                             334.6512
2017-W46 Albania          Desktop                                747.2224
                          Mobile App                              79.4610
                          Mobile Web                             979.0710
2017-W47 Albania          Desktop                                596.6203
                          Mobile App                             188.0157
2017-W48 Albania          Desktop                               1332.7306
                          Mobile App                             314.5243

                                              Booking value per order  \
Week     Property Country Platform Type Name
2016-W45 Albania          Desktop                          219.496850
2016-W46 Albania          Desktop                          296.123533
                          Mobile Web                       131.710000
2016-W47 Albania          Desktop                          190.172650
                          Mobile App                       132.293450
2016-W48 Albania          Desktop                          258.846900
                          Mobile App                       220.677700
2017-W45 Albania          Desktop                          159.488350
                          Mobile App                        87.110000
                          Mobile Web                       334.651200
2017-W46 Albania          Desktop                          186.805600
                          Mobile App                        79.461000
                          Mobile Web                       326.357000
2017-W47 Albania          Desktop                          224.502575
                          Mobile App                        94.007850
2017-W48 Albania          Desktop                          396.072667
                          Mobile App                        78.631075

                                              Net Order Percent Change by Platform  \
Week     Property Country Platform Type Name
2016-W45 Albania          Desktop                                              NaN
2016-W46 Albania          Desktop                                        -0.400000
                          Mobile Web                                           NaN
2016-W47 Albania          Desktop                                         1.000000
                          Mobile App                                           NaN
2016-W48 Albania          Desktop                                        -0.833333
                          Mobile App                                      0.333333
2017-W45 Albania          Desktop                                         5.000000
                          Mobile App                                     -0.500000
                          Mobile Web                                      0.000000
2017-W46 Albania          Desktop                                        -0.333333
                          Mobile App                                     -0.500000
                          Mobile Web                                      2.000000
2017-W47 Albania          Desktop                                        -0.250000
                          Mobile App                                      1.000000
2017-W48 Albania          Desktop                                         0.333333
                          Mobile App                                      1.000000

                                              Net Gross Booking Value USD Percent Change by Platform  \
Week     Property Country Platform Type Name
2016-W45 Albania          Desktop                                                           NaN
2016-W46 Albania          Desktop                                                     -0.219119
                          Mobile Web                                                        NaN
2016-W47 Albania          Desktop                                                      0.284414
                          Mobile App                                                        NaN
2016-W48 Albania          Desktop                                                     -0.773147
                          Mobile App                                                   1.409761
2017-W45 Albania          Desktop                                                      2.696896
                          Mobile App                                                  -0.789003
                          Mobile Web                                                   1.540818
2017-W46 Albania          Desktop                                                     -0.219146
                          Mobile App                                                  -0.543904
                          Mobile Web                                                   1.925646
2017-W47 Albania          Desktop                                                     -0.201549
                          Mobile App                                                   1.366138
2017-W48 Albania          Desktop                                                      1.233800
                          Mobile App                                                   0.672862

                                              Booking value per order Percent Change by Platform
Week     Property Country Platform Type Name
2016-W45 Albania          Desktop                                                           NaN
2016-W46 Albania          Desktop                                                      0.349102
                          Mobile Web                                                        NaN
2016-W47 Albania          Desktop                                                     -0.357793
                          Mobile App                                                        NaN
2016-W48 Albania          Desktop                                                      0.361115
                          Mobile App                                                   0.668092
2017-W45 Albania          Desktop                                                     -0.383851
                          Mobile App                                                  -0.605261
                          Mobile Web                                                   1.540818
2017-W46 Albania          Desktop                                                      0.171281
                          Mobile App                                                  -0.087809
                          Mobile Web                                                  -0.024785
2017-W47 Albania          Desktop                                                      0.201798
                          Mobile App                                                   0.183069
2017-W48 Albania          Desktop                                                      0.764223
                          Mobile App                                                  -0.163569

In [45]:
## dfSummary uses the DataTile package to publish statistical measures for our pre-processed dfTable. 
## PLEASE DO NOT UNCOMMENT STATEMENT BELOW.
## dfSummary.to_csv('Datasets/dfSummary.csv')

## dfRegion conatins sum of Net Orders, Sum of Net Gross Booking Value USD, and the mean of Booking value per order 
## across Mobile Indicator Names (Desktop/Mobile), and Super Regions
dfRegion.to_csv('Datasets/dfRegion.csv')


## dfWeek contains sum of Net Gross Booking Value USD over each week.
## PLEASE DO NOT UNCOMMENT STATEMENT BELOW.
## dfWeek.to_csv('Datasets/dfWeek.csv')


## dfBookingGroup contains sum of Net Orders, Sum of Net Gross Booking Value USD, and the mean of Booking value per order 
## across Booking Window Groups
dfBookingGroup.to_csv('Datasets/dfBookingGroup.csv')


## This is our main table, after cleaning inconclusive data and renaming NA as NAM
df.to_csv('Datasets/df.csv')


## df_country_growth will group countries, sum of Net Orders, sum of Net Gross Booking Value USD, and mean of Booking
## value per order across weeks. This will be helpful when calculating our week-over-week growth rates
df_country_growth.to_csv('Datasets/df_country_growth.csv')


## df_country_growth_first_last contains the Total Growth rates for each country's Net Orders, Net Gross Booking
## Value USD, and Booking value per order. These calculations are done independent of the consistnecy of a 
## countries last booking period
df_country_growth_first_last.to_csv('Datasets/df_country_growth_first_last.csv')


## df_mobile_vs_desktop_country group's records by Week, Property Country, and Platform Type, aggregating the sum of
## Net Orders, sum of Net Gross Booking Value USD, and mean of Booking value per order.
df_mobile_vs_desktop_country.to_csv('Datasets/df_mobile_vs_desktop_country.csv')

In [117]:
dfRegion.head()

,Week,Mobile Indicator Name,Platform Type Name,Super Region,Country Name,Booking Window Group,Property Country,Net Gross Booking Value USD,Net Orders,Net Gross Booking Value USD Scaled,Booking value per order
2,2016-W45,Desktop,Desktop,APAC,South Korea,46-60 days,Andorra,103.4298,1,0.000009,103.4298
3,2016-W45,Desktop,Desktop,APAC,Australia,31-45 days,Argentina,395.9592,1,0.000034,395.9592
4,2016-W45,Desktop,Desktop,APAC,Australia,15-30 days,Argentina,373.4194,1,0.000032,373.4194
5,2016-W45,Desktop,Desktop,APAC,Australia,8-14 days,Argentina,201.4979,1,0.000017,201.4979
7,2016-W45,Desktop,Desktop,APAC,Australia,4-7 days,Argentina,105.3972,1,0.000009,105.3972

In [118]:
dfBookingGroup.head()

                           Net Orders  Net Gross Booking Value USD  \
Week     Property Country
2016-W45 Albania                    5                    1137.6524
         Algeria                    6                    6168.5482
         American Samoa             1                     139.0000
         Andorra                    6                     567.9589
         Angola                     5                   11909.7834

                           Booking value per order  Net Order Percent Change  \
Week     Property Country
2016-W45 Albania                        219.496850                       NaN
         Algeria                        869.735120                       NaN
         American Samoa                 139.000000                       NaN
         Andorra                         94.659817                       NaN
         Angola                        1974.419311                       NaN

                           Net Gross Booking Value USD Percent Change  \
Week     Property Country
2016-W45 Albania                                                  NaN
         Algeria                                                  NaN
         American Samoa                                           NaN
         Andorra                                                  NaN
         Angola                                                   NaN

                           Booking value per order Percent Change
Week     Property Country
2016-W45 Albania                                              NaN
         Algeria                                              NaN
         American Samoa                                       NaN
         Andorra                                              NaN
         Angola                                               NaN

In [119]:
df.head()

,Property Country,Net Orders,Net Gross Booking Value USD,Booking value per order,Net Order Percent Change,Net Gross Booking Value USD Percent Change,Booking value per order Percent Change
0,Albania,8,1647.2549,214.677471,0.600000,1.099387,0.348009
1,Algeria,4,1447.1905,361.797625,-0.333333,-0.825061,-0.379162
2,Andorra,14,3854.3480,269.471096,1.333333,-0.221511,-0.207744
3,Angola,2,2297.0000,1148.500000,-0.600000,-0.842176,-0.763263
4,Anguilla,7,12320.6583,1747.891660,0.166667,0.043205,0.537403

In [120]:
df_country_growth.head()

                                              Net Orders  \
Week     Property Country Platform Type Name
2016-W45 Albania          Desktop                      5
         Algeria          Desktop                      4
                          Mobile App                   2
         American Samoa   Desktop                      1
         Andorra          Desktop                      5

                                              Net Gross Booking Value USD  \
Week     Property Country Platform Type Name
2016-W45 Albania          Desktop                               1137.6524
         Algeria          Desktop                               2528.8030
                          Mobile App                            3639.7452
         American Samoa   Desktop                                139.0000
         Andorra          Desktop                                490.9202

                                              Booking value per order  \
Week     Property Country Platform Type Name
2016-W45 Albania          Desktop                           219.49685
         Algeria          Desktop                           632.20075
                          Mobile App                       1819.87260
         American Samoa   Desktop                           139.00000
         Andorra          Desktop                            98.18404

                                              Net Order Percent Change by Platform  \
Week     Property Country Platform Type Name
2016-W45 Albania          Desktop                                              NaN
         Algeria          Desktop                                              NaN
                          Mobile App                                           NaN
         American Samoa   Desktop                                              NaN
         Andorra          Desktop                                              NaN

                                              Net Gross Booking Value USD Percent Change by Platform  \
Week     Property Country Platform Type Name
2016-W45 Albania          Desktop                                                           NaN
         Algeria          Desktop                                                           NaN
                          Mobile App                                                        NaN
         American Samoa   Desktop                                                           NaN
         Andorra          Desktop                                                           NaN

                                              Booking value per order Percent Change by Platform
Week     Property Country Platform Type Name
2016-W45 Albania          Desktop                                                           NaN
         Algeria          Desktop                                                           NaN
                          Mobile App                                                        NaN
         American Samoa   Desktop                                                           NaN
         Andorra          Desktop                                                           NaN

In [121]:
dfBookingGroup.head()

,Net Orders,Net Gross Booking Value USD,Booking value per order
Booking Window Group,,,
+90 days,146611,8.679615e+07,760.304690
0-1 days,1221387,1.983014e+08,227.092374
15-30 days,461945,1.456523e+08,465.294999
2-3 days,401629,9.234769e+07,323.522497
31-45 days,237072,9.278052e+07,539.773842

In [122]:
df_country_growth_first_last.head()

                                    Net Orders  Net Gross Booking Value USD
Super Region Mobile Indicator Name
APAC         Desktop                    208070                 6.985793e+07
             Mobile                     126605                 4.626972e+07
EMEA         Desktop                    315150                 1.054008e+08
             Mobile                     133799                 3.540637e+07
LATAM        Desktop                     71401                 2.678406e+07

In [123]:
df_mobile_vs_desktop_country.head()

,Week,Mobile Indicator Name,Platform Type Name,Super Region,Country Name,Booking Window Group,Property Country,Net Gross Booking Value USD,Net Orders,Net Gross Booking Value USD Scaled,Booking value per order
2,2016-W45,Desktop,Desktop,APAC,South Korea,46-60 days,Andorra,103.4298,1,0.000009,103.4298
3,2016-W45,Desktop,Desktop,APAC,Australia,31-45 days,Argentina,395.9592,1,0.000034,395.9592
4,2016-W45,Desktop,Desktop,APAC,Australia,15-30 days,Argentina,373.4194,1,0.000032,373.4194
5,2016-W45,Desktop,Desktop,APAC,Australia,8-14 days,Argentina,201.4979,1,0.000017,201.4979
7,2016-W45,Desktop,Desktop,APAC,Australia,4-7 days,Argentina,105.3972,1,0.000009,105.3972